.info{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color:lightpink;
}

#main{
    text-align: center;
    font-style: oblique;
}

a:hover {
    color: darkred;
}

li {
    padding-left: 20px;
}